{% extends 'base.html' %}
{% block content %}
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>
                    {% endif %}

                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert" style="width:400px">
                          {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
    {% endif %}

        <form method='POST'>
        {% csrf_token %}
            <div class="container m-5"  style="width: 60rem;">
                <div class="card border border-secondary">
                    <div class="card-body m-5">
                  <span>Title:</span> <input class="mt-4 ml-5" type="text" name="title" value="{{form.title.value}}">
                  <br>
                  <span>Deadline</span>:<input class="mt-4 ml-4" type="text" name="deadline_date" value="{{form.deadline_date.value}}"  id="id_deadline_date">
                  <br>
                  <span >Remind me:</span> <input class="mt-4 ml-1" type="text" name="reminder" value="{{form.reminder.value}}" id="id_reminder">
                  <br>
                  {% if form.status.value %}

                     <span> status: <button class="btn btn-primary btn-sm mt-2">Done</button> </span>
                  {% else %}
                    <span> status: <button class="btn btn-danger btn-sm mt-2">Undone</button> </span>

                  {% endif %}
                  <br>
                  <span >Task Description: <p class="mt-2"> <textarea name="description" cols="80" rows="5" maxlength="200" id="id_description">{{form.description.value}}</textarea></p></span>
                   <input type="submit" value="update" class="btn btn-primary mt-4">
              </div>
            </div>
          </div>
        </form>


<script>
  var deadline_date = document.getElementById('id_deadline_date')
  deadline_date.onfocus = function (event) {
      this.type = 'datetime-local';
      this.focus();
      }

  var reminder_date = document.getElementById('id_reminder')
  reminder_date.onfocus = function (event2) {
      this.type = 'datetime-local';
      this.focus();
      }

</script>


{% endblock %}