{% extends 'base.html' %}
{% block content %}
    {% for task in object_list %}
        {% if task.status == 'false' %} {% comment %}Showing only Undone tasks because they are more necessary {% endcomment %}
        <div class="row m-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{task.title}}</h5>
          <p class="card-text">Dead Line: {{task.deadline_date}}</p>
          <time class="card-text">Reminder: {{task.reminder}}</time>
          <br>
          {% if task.status == 'true' %}
<!--            <span>Done: <input class="m-3" type="checkbox" name="status" checked></span>-->
            <span> status: <button class="btn btn-primary btn-sm mt-2">Done</button> </span>
          {% else %}
<!--            <span>Done: <input class="m-3" type="checkbox" name="status"></span>-->
          <span> status: <button class="btn btn-danger btn-sm mt-2">Undone</button> </span>

          {% endif %}

          <a class="btn btn-primary m-2" style="float:right;" href="{% url 'mysite:edit-task' task.slug task.id %}" type="submit"> edit</a>
          <a class="btn btn-success m-2" style="float:right;" href="{% url 'mysite:mark-as-completed' task.slug task.id %}" type="submit"> mark as completed</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card">
      <div class="card-body">
        {% if task.description %}
            <h5>Description:</h5>
            <p class="card-title">{{task.description}}</p>
        {% else%}
          <h5 class="card-title text-muted">No Description</h5>
        {% endif %}

      </div>
    </div>
  </div>
</div>
        {% endif%}
    {% endfor %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                {% endif %}

                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert" style="width:400px">
                      {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock%}