{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {% if request.user.is_authenticated %}
  <span class="navbar-brand" >{{request.user.username.title}}'s To Do List Website</span>
  {% else%}
    <span class="navbar-brand" > To Do List Website</span>}
  {% endif %}


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'mysite:home'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if not request.user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'members:login'%}">login</a>
          </li>
      {% else %}
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'members:logout' %}">logout</a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tasks
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'mysite:add-task' %}">add new task</a>
                <a class="dropdown-item" href="{% url 'mysite:show-all-tasks' %}">my task list</a>
                <a class="dropdown-item" href="#">deadlines</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

      {% endif %}



    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>